<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <section>
        <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>
        
        <ul>
        <% @trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </section>
    </div>
  <% end %>

  <div class="ym-fbox">
    <%= f.label :truck_id %><br />
    <%= f.number_field :truck_id %>
  </div>
  <div class="ym-fbox">
    <%= f.label :trailer_id %><br />
    <%= f.number_field :trailer_id %>
  </div>
  <div class="ym-fbox">
    <%= f.label :expense_id %><br />
    <%= f.number_field :expense_id %>
  </div>
  <div class="ym-fbox">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="ym-fbox">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="ym-fbox">
    <%= f.label :load_bar_count %><br />
    <%= f.number_field :load_bar_count %>
  </div>
  <div class="ym-fbox">
    <%= f.label :kilometres_accumulated %><br />
    <%= f.text_field :kilometres_accumulated %>
  </div>
  <div class="actions ym-fbox-footer">
    <%= f.submit %>
  </div>
<% end %>
