<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <section>
        <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>
        
        <ul>
        <% @trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </section>
    </div>
  <% end %>

  <%= f.label :truck_id %>
  <%= f.collection_select :truck_id, @trucks, :id, :truck_no, { :selected => @trucks.first.id }, { :size => 5 } %>
  <%= f.label :trailer_id %>
  <%= f.collection_select :trailer_id, @trailers, :id, :trailer_no, { :selected => @trailers.first.id }, { :size => 5 } %>
  <%= f.label :start_date %>
  <%= f.date_select :start_date %>
  <%= f.label :end_date %>
  <%= f.date_select :end_date %>
  <%= f.label :load_bar_count %>
  <%= f.number_field :load_bar_count %>
  <%= f.label :accumulated_kilometres %>
  <%= f.text_field :accumulated_kilometres %>
  <%= f.label :fuel_cost %>
  <%= f.number_field :fuel_cost %>
  <%= f.label :misc_cost %>
  <%= f.number_field :misc_cost %>
  <%= f.label :comments %>
  <%= f.text_field :comments %>
  <div class="footer">
    <%= f.submit %>
  </div>
<% end %>
