<section>
  <h2>Trips</h2>
  <p><%= link_to 'New Trip', new_trip_path, :class => 'button new' %></p>
  <%= form_tag trips_path, :method => 'get', :class => 'search' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
		<%= label_tag :column %>
		<%= select_tag :column, options_for_select(Trip.translated_searchable_columns(['id']), params[:column]) %>
		<%= label_tag :search %>
		<%= text_field_tag :search %>
		<%= submit_tag 'Submit' %>
  <% end %>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable 'trip_no', 'Trip No.', @trips, 'trip_no' %></th>
        <th scope="col"><%= sortable 'truck_id', 'Truck', @trips, 'trip_no' %></th>
        <th scope="col"><%= sortable 'trailer_id', 'Trailer', @trips, 'trip_no' %></th>
        <th scope="col"><%= sortable 'start_date', nil, @trips, 'trip_no' %></th>
        <th scope="col"><%= sortable 'end_date', nil, @trips, 'trip_no' %></th>
        <th scope="col"><%= sortable 'accumulated_kilometres', nil, @trips, 'trip_no' %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @trips.each do |trip| %>
      <% truck = Truck.find(trip.truck_id) %>
      <% trailer = Trailer.find(trip.trailer_id) %>
      <tr>
        <td><%= trip.trip_no %></td>
        <td><%= link_to truck.truck_no, "/trucks/#{trip.truck_id}" %></td>
        <td><%= link_to trailer.trailer_no, "/trailers/#{trip.trailer_id}" %></td>
        <td><%= trip.start_date %></td>
        <td><%= trip.end_date %></td>
        <td><%= trip.accumulated_kilometres %> <abbr title="kilometre">km</abbr></td>
        <td><%= link_to '', trip, :class => 'button show', :title => 'Show' %> <%= link_to '', edit_trip_path(trip), :class => 'button edit', :title => 'Edit' %> <%= link_to '', trip, method: :delete, data: { confirm: 'Are you sure you want to delete trip ' + trip.id.to_s + '?' }, :class => 'button destroy', :title => 'Delete' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @trips %>
</section>
