<section>
  <h2>View Truck <%= @truck.id %></h2>
  <p id="notice"><%= notice %></p>
  <p><strong>Truck:</strong> <%= @trip.truck_id %></p>
  <p><strong>Trailer:</strong> <%= @trip.trailer_id %></p>
  <p><strong>Start date:</strong> <%= @trip.start_date %></p>
  <p><strong>End date:</strong> <%= @trip.end_date %></p>
  <p><strong>Driver pay:</strong> <%= @trip.driver_pay %></p>
  <p><strong>Load bar count:</strong> <%= @trip.load_bar_count %></p>
  <p><strong>Lease:</strong> <%= @trip.lease %></p>
  <p><strong>Insurance:</strong> <%= @trip.insurance %></p>
  <p><strong>Misc cost:</strong> <%= @trip.misc_cost %></p>
  <p><strong>Kilometres accumulated:</strong> <%= @trip.kilometres_accumulated %></p>
  <p><%= link_to 'Edit', edit_trip_path(@trip) %> | <%= link_to 'Back', trips_path %></p>
</section>
