<section>
  <h2>Announcements</h2>
	<%= form_tag announcements_path, :method => 'get' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
		<%= label_tag :column %>
		<%= select_tag :column, options_for_select(Announcement.translated_searchable_columns(['id']), params[:column]) %>
		<%= label_tag :search %>
		<%= text_field_tag :search %>
		<%= submit_tag 'Submit' %>
  <% end %>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable "posted_by", nil, @announcements, "date_posted" %></th>
        <th scope="col"><%= sortable "title", nil, @announcements, "date_posted" %></th>
        <!--<th scope="col"><%= sortable "content", nil, @announcements, "date_posted" %></th>-->
        <th scope="col"><%= sortable "date_posted", nil, @announcements, "date_posted" %></th>
				<th scope="col">Short Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.posted_by %></td>
        <td><%= announcement.title %></td>
        <!--<td><%= announcement.content %></td>-->
        <td><%= announcement.date_posted %></td>
				<td><%= announcement.content.truncate(40) %>
        <td><%= link_to 'Show', announcement, :class => 'ym-button ym-small ym-play ym-success' %> <%= link_to 'Edit', edit_announcement_path(announcement), :class => 'ym-button ym-small ym-edit ym-warning' %> <%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure you want to delete s announcement?' }, :class => 'ym-button ym-small ym-delete ym-danger' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p><%= link_to 'New Announcement', new_announcement_path, :class => 'ym-button ym-add' %></p>
</section>
