<section>
  <h2>Announcements</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Posted by</th>
        <th scope="col">Title</th>
        <!--<th scope="col">Content</th>-->
        <th scope="col">Date posted</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.posted_by %></td>
        <td><%= announcement.title %></td>
        <!--<td><%= announcement.content %></td>-->
        <td><%= announcement.date_posted %></td>
        <td><%= link_to 'Show', announcement, :class => 'button show' %> <%= link_to 'Edit', edit_announcement_path(announcement), :class => 'button edit' %> <%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure you want to delete s announcement?' }, :class => 'button destroy' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p><%= link_to 'New Announcement', new_announcement_path, :class => 'button new' %></p>
</section>
