<section>
  <h2>Announcements</h2>
  <p><%= link_to 'New Announcement', new_announcement_path, :class => 'button new' %></p>
	<%= form_tag announcements_path, :method => 'get', :class => 'search'  do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
		<%= label_tag :column %>
		<%= select_tag :column, options_for_select(Announcement.translated_searchable_columns(['id']), params[:column]) %>
		<%= label_tag :search %>
		<%= text_field_tag :search %>
		<%= submit_tag 'Submit' %>
  <% end %>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable "posted_by", nil, @announcements, "date_posted" %></th>
        <th scope="col"><%= sortable "title", nil, @announcements, "date_posted" %></th>
        <!--<th scope="col"><%= sortable "content", nil, @announcements, "date_posted" %></th>-->
        <th scope="col"><%= sortable "date_posted", nil, @announcements, "date_posted" %></th>
				<th scope="col">Short Description</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.posted_by %></td>
        <td><%= announcement.title %></td>
        <td><%= announcement.date_posted %></td>
				<td><%= announcement.content.truncate(40) %>
        <td><%= link_to '', announcement, :class => 'button show', :title => 'Show' %> <%= link_to '', edit_announcement_path(announcement), :class => 'button edit', :title => 'Edit' %> <%= link_to '', announcement, method: :delete, data: { confirm: 'Are you sure you want to delete announcement: ' + announcement.title + '?' }, :class => 'button destroy', :title => 'Delete' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
