<!-- show specific announcement record -->
<section>
  <p id="notice"><%= notice %></p>
  <h2 class="announcement"><%= @announcement.title %></h2>
  <p><%= @announcement.date_posted.strftime('%B %e, %Y') %></p>
  <p><%= @announcement.content %></p>
  <% unless notice.nil? %>
  <% end %>
  <!-- since this page can be viewed by regular people, remove edit and back buttons -->
  <% if user_signed_in? %>
  <p>
      <%= link_to 'Edit', edit_announcement_path(@announcement), :class => 'button edit' %>
      <%= link_to 'Back', announcements_path, :class => 'button back' %>
  </p>
  <% end %>
</section>
