<section>
  <h2>Announcement #<%= @announcement.id %></h2>
  <p id="notice"><%= notice %></p>
  <p><strong>Posted by:</strong> <%= @announcement.posted_by %></p>
  <p><strong>Title:</strong> <%= @announcement.title %></p>
  <p><strong>Content:</strong> <%= @announcement.content %></p>
  <p><strong>Date posted:</strong> <%= @announcement.date_posted %></p>
  <p><%= link_to 'Edit', edit_announcement_path(@announcement) %> | <%= link_to 'Back', announcements_path %></p>
</section>
