<section>
  <h2>Cartages</h2>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable "company_id", nil, @cartages, "company_id" %></th>
        <th scope="col"><%= sortable "trailer_id", nil, @cartages, "company_id" %></th>
        <th scope="col"><%= sortable "shipment_id", nil, @cartages, "company_id" %></th>
        <th scope="col"><%= sortable "pickup_time", nil, @cartages, "company_id" %></th>
        <th scope="col"><%= sortable "delivery_time", nil, @cartages, "company_id" %></th>
        <th scope="col"><%= sortable "driver_name", nil, @cartages, "company_id" %></th>
        <th scope="col"><%= sortable "cost", nil, @cartages, "company_id" %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @cartages.each do |cartage| %>
      <tr>
        <td><%= cartage.company_id %></td>
        <td><%= cartage.trailer_id %></td>
        <td><%= cartage.shipment_id %></td>
        <td><%= cartage.pickup_time %></td>
        <td><%= cartage.delivery_time %></td>
        <td><%= cartage.driver_name %></td>
        <td><%= cartage.cost %></td>
        <td><%= link_to 'Show', cartage, :class => 'ym-button ym-small ym-play ym-success' %> <%= link_to 'Edit', edit_cartage_path(cartage), :class => 'ym-button ym-small ym-edit ym-warning' %> <%= link_to 'Destroy', cartage, method: :delete, data: { confirm: 'Are you sure you want to delete this cartage?' }, :class => 'ym-button ym-small ym-delete ym-danger' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p><%= link_to 'New Cartage', new_cartage_path, :class => 'ym-button ym-add' %></p>
</section>
