<section>
  <h2>Cartage #<%= @cartage.id %></h2>
  <p id="notice"><%= notice %></p>
  <dl>
    <dt><strong>Company:</strong></dt><dd><%= link_to @company.name, "/companies/#{@cartage.company_id}" rescue 'No Company' %></dd>
    <dt><strong>Trailer:</strong></dt><dd><%= link_to @trailer.trailer_no, "/trailers/#{@cartage.trailer_id}" rescue 'No Trailer' %></dd>
    <dt><strong>Pickup time:</strong></dt><dd><%= format_time @cartage.pickup_time %></dd>
    <dt><strong>Delivery time:</strong></dt><dd><%= format_time @cartage.delivery_time %></dd>
    <dt><strong>Driver name:</strong></dt><dd><%= @cartage.driver_name %></dd>
    <dt><strong>Cost:</strong></dt><dd><%= number_to_currency @cartage.cost %></dd>
  </dl>
  <p><%= link_to 'Edit', edit_cartage_path(@cartage), :class => 'button edit' %> <%= link_to 'Back', cartages_path, :class => 'button back' %></p>
</section>
