<section>
  <h2>View Cartage <%= @cartage.id %></h2>
  <p id="notice"><%= notice %></p>
  <p><strong>Company:</strong> <%= @cartage.company_id %></p>
  <p><strong>Trailer:</strong> <%= @cartage.trailer_id %></p>
  <p><strong>Shipment:</strong> <%= @cartage.shipment_id %></p>
  <p><strong>Pickup time:</strong> <%= @cartage.pickup_time %></p>
  <p><strong>Delivery time:</strong> <%= @cartage.delivery_time %></p>
  <p><strong>Driver name:</strong> <%= @cartage.driver_name %></p>
  <p><strong>Cost:</strong> <%= @cartage.cost %></p>
  <p><%= link_to 'Edit', edit_cartage_path(@cartage) %> | <%= link_to 'Back', cartages_path %></p>
</section>
