<%= form_for(@truck) do |f| %>
  <% if @truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@truck.errors.count, "error") %> prohibited this truck from being saved:</h2>

      <ul>
      <% @truck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :last_service_id %><br />
    <%= f.number_field :last_service_id %>
  </div>
  <div class="field">
    <%= f.label :last_safety_id %><br />
    <%= f.number_field :last_safety_id %>
  </div>
  <div class="field">
    <%= f.label :truck_no %><br />
    <%= f.number_field :truck_no %>
  </div>
  <div class="field">
    <%= f.label :truck_type %><br />
    <%= f.text_field :truck_type %>
  </div>
  <div class="field">
    <%= f.label :license_plate %><br />
    <%= f.text_field :license_plate %>
  </div>
  <div class="field">
    <%= f.label :license_expires %><br />
    <%= f.date_select :license_expires %>
  </div>
  <div class="field">
    <%= f.label :owned %><br />
    <%= f.check_box :owned %>
  </div>
  <div class="field">
    <%= f.label :make %><br />
    <%= f.text_field :make %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :manufactured_year %><br />
    <%= f.number_field :manufactured_year %>
  </div>
  <div class="field">
    <%= f.label :vin_number %><br />
    <%= f.text_field :vin_number %>
  </div>
  <div class="field">
    <%= f.label :next_service_kilometres %><br />
    <%= f.number_field :next_service_kilometres %>
  </div>
  <div class="field">
    <%= f.label :next_safety_date %><br />
    <%= f.date_select :next_safety_date %>
  </div>
  <div class="field">
    <%= f.label :total_kilometres %><br />
    <%= f.number_field :total_kilometres %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
