<%= form_for(@truck) do |f| %>
  <% if @truck.errors.any? %>
    <div id="error_explanation">
      <section>
	<h2><%= pluralize(@truck.errors.count, "error") %> prohibited this truck from being saved:</h2>
        
        <ul>
        <% @truck.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </section>
    </div>
  <% end %>

  <%= f.label :truck_no %>
  <%= f.number_field :truck_no %>
  <%= f.label :truck_type %>
  <%= f.text_field :truck_type %>
  <%= f.label :license_plate %>
  <%= f.text_field :license_plate %>
  <%= f.label :license_expires %>
  <%= f.date_select :license_expires %>
  <%= f.label :owner %>
  <%= f.number_field :owner %>
  <%= f.label :make %>
  <%= f.text_field :make %>
  <%= f.label :model %>
  <%= f.text_field :model %>
  <%= f.label :manufactured_year %>
  <%= f.number_field :manufactured_year %>
  <%= f.label :vin_number %>
  <%= f.text_field :vin_number %>
  <%= f.label :total_kilometres %>
  <%= f.number_field :total_kilometres %>
  <%= f.label :current_location %>
  <%= f.text_field :current_location %>
  <div class="footer">
    <%= f.submit %>
  </div>
<% end %>
