<section>
  <h2>Trucks</h2>
  <%= form_tag trucks_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    Search: 
    <%= text_field_tag :search %>
	by 
	<%= select_tag :search_column, options_for_select(Truck.translated_searchable_columns(['license_expires', 'id']), params[:search_column]) %>
    <%= submit_tag "Search" %>
  </p>
<% end %>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable "truck_no", nil, @trucks, "truck_no" %></th>
        <th scope="col"><%= sortable "truck_type", nil,  @trucks, "truck_no" %></th>
        <th scope="col"><%= sortable "license_plate", nil,  @trucks, "truck_no" %></th>
        <th scope="col"><%= sortable "license_expires", nil,  @trucks, "truck_no" %></th>
        <th scope="col"><%= sortable "owner", nil,  @trucks, "truck_no" %></th>
        <th scope="col"><%= sortable "make", nil,  @trucks, "truck_no" %></th>
        <th scope="col"><%= sortable "model", nil,  @trucks, "truck_no" %></th>
        <th scope="col"><%= sortable "manufactured_year", nil,  @trucks, "truck_no" %></th>
        <th scope="col"><%= sortable "vin_number", nil,  @trucks, "truck_no" %></th>
        <th scope="col"><%= sortable "total_kilometres", nil,  @trucks, "truck_no" %></th>
        <th scope="col"><%= sortable "current_location", nil,  @trucks, "truck_no" %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @trucks.each do |truck| %>
      <tr>
        <td><%= truck.truck_no %></td>
        <td><%= truck.truck_type %></td>
        <td><%= truck.license_plate %></td>
        <td><%= truck.license_expires %></td>
        <td><%= truck.owner %></td>
        <td><%= truck.make %></td>
        <td><%= truck.model %></td>
        <td><%= truck.manufactured_year %></td>
        <td><%= truck.vin_number %></td>
        <td><%= truck.total_kilometres %></td>
        <td><%= truck.current_location %></td>
    	  <td><%= link_to 'Show', truck, :class => 'ym-button ym-small ym-play ym-success' %> <%= link_to 'Edit', edit_truck_path(truck), :class => 'ym-button ym-small ym-edit ym-warning' %> <%= link_to 'Destroy', truck, method: :delete, data: { confirm: 'Are you sure you want to delete this truck?' }, :class => 'ym-button ym-small ym-delete ym-danger' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p><%= link_to 'New Truck', new_truck_path, :class => 'ym-button ym-add' %></p>
</section>
