<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <section>
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this announcement from being saved:</h2>
     
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </section>
    </div>
  <% end %>
  <%= f.label :name %>
  <%= f.text_field :name, :autofocus => true %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.label :access %>
  <%= f.select :access, options_for_select(ValidationValues.access) %>
  <div class="footer">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
