<section>
  <h2>Users</h2>
  <p><%= link_to 'New User', new_user_registration_path, :class => 'button new' %></p>
  <table>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
				<th scope="col">Access</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
				<td><%= user.access %>
        <td><%= link_to '', "/destroy/#{user.id}", method: :delete, data: { confirm: 'Are you sure you want to delete user: ' + user.name + '?' }, :class => 'button destroy', :title => 'Delete' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
