<section>
  <h2>Reset Password</h2>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>
    <div class="footer">
      <%= f.submit 'Submit' %>
    </div>
  <% end %>
</section>
