<!-- schedule page -->
<section>
  <h2>Schedule</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Truck No</th>
        <th scope="col">Driver Name</th>
        <th scope="col">Trip Start</th>
        <th scope="col">Load Bar Count</th>
        <th scope="col">Current Mileage</th>
        <th scope="col">Next Oil Change</th>
        <th scope="col">Current Location</th>
        <th scope="col">Delivery Locations</th>
        <th scope="col">Trailer No</th>
        <th scope="col">Trailer Next Service Date</th>
      </tr>
    </thead>
    <tbody>
      <% @trucks.each do |truck| %>
      <% record = ScheduleController.schedule_record(truck.id) %>
      <tr>
        <% if record['post_all'] == true %>
          <td><%= link_to "#{record['truck_no']}", { :action => "../trucks/show/#{truck.id}" } %></td>
          <td><%= link_to "#{record['full_name']}", { :action => "../drivers/show/#{record['driver_id']}" } %></td>
          <td><%= link_to "#{record['trip_start']}", { :action => "../trips/show/#{record['trip_no']}" } %></td>
          <td><%= record['load_bar_count'] %></td>
          <td><%= record['current_mileage'] %> <abbr title="kilometre">km</abbr></td>
          <td><%= record['next_oil_change'] %> <abbr title="kilometre">km</abbr></td>
          <td><%= record['current_location'] %></td>
          <td><%= raw record['delivery_locations'].join '<br />' %></td>
          <td><%= link_to "#{record['trailer_no']}", { :action => "../trailers/show/#{record['trailer_id']}" } %></td>
          <td><%= record['trailer_next_service_date'] %></td>
        <% else %>
          <td><%= link_to "#{record['truck_no']}", { :action => "../trucks/show/#{truck.id}" } %></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= record['current_mileage'] %> <abbr title="kilometre">km</abbr></td>
          <td><%= record['next_oil_change'] %> <abbr title="kilometre">km</abbr></td>
          <td><%= record['current_location'] %></td>
          <td></td>
          <td></td>
          <td></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
