<section>
  <h2>Schedule</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Truck No.</th>
        <th scope="col">Driver</th>
        <th scope="col">Trip Start Date</th>
        <th scope="col">Load Bars</th>
        <th scope="col">Current Mileage</th>
        <th scope="col">Next Oil Change</th>
        <th scope="col">Current Location</th>
        <th scope="col">Destination(s)</th>
        <th scope="col">Trailer No.</th>
        <th scope="col">Next Trailer Safety</th>
      </tr>
    </thead>
    <tbody>
      <% @trucks.each do |truck| %>
        <% record = ScheduleController.schedule_record(truck.id) %>
      <tr>
        <td><%= link_to "#{record['truck_no']}", { :action => "../trucks/show/#{truck.id}" } %></td>
        <td><%= link_to "#{record['driver_name']}", { :action => "../drivers/show/#{record['driver_id']}" } %></td>
        <td><%= link_to "#{record['trip_start']}", { :action => "../trips/show/#{record['trip_no']}" } %></td>
        <td><%= record['load_bar_count'] %></td>
        <td><%= record['current_mileage'] %></td>
        <td><%= record['next_oil_change'] %></td>
        <td><%= record['current_location'] %></td>
        <td><%= raw record['delivery_locations'].join '<br />' %></td>
        <td><%= link_to "#{record['trailer_no']}", { :action => "../trailers/show/#{record['trailer_no']}" } %></td>
        <td><%= record['trailer_next_service_date'] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
