<%= form_for(@trip_roster) do |f| %>
  <% if @trip_roster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip_roster.errors.count, "error") %> prohibited this trip_roster from being saved:</h2>

      <ul>
      <% @trip_roster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shipment_id %><br />
    <%= f.number_field :shipment_id %>
  </div>
  <div class="field">
    <%= f.label :trip_id %><br />
    <%= f.number_field :trip_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
