<h1>Listing trip_rosters</h1>

<table>
  <tr>
    <th><%= sortable "shipment_id", nil, @trip_rosters, "shipment_id" %></th>
    <th><%= sortable "trip_id", nil, @trip_rosters, "shipment_id" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trip_rosters.each do |trip_roster| %>
  <tr>
    <td><%= trip_roster.shipment_id %></td>
    <td><%= trip_roster.trip_id %></td>
    <td><%= link_to 'Show', trip_roster %></td>
    <td><%= link_to 'Edit', edit_trip_roster_path(trip_roster) %></td>
    <td><%= link_to 'Destroy', trip_roster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trip roster', new_trip_roster_path %>
