<%= form_for(@trailer) do |f| %>
  <% if @trailer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trailer.errors.count, "error") %> prohibited this trailer from being saved:</h2>

      <ul>
      <% @trailer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :last_service_id %><br />
    <%= f.number_field :last_service_id %>
  </div>
  <div class="field">
    <%= f.label :last_safety_id %><br />
    <%= f.number_field :last_safety_id %>
  </div>
  <div class="field">
    <%= f.label :trailer_no %><br />
    <%= f.number_field :trailer_no %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :license_plate %><br />
    <%= f.text_field :license_plate %>
  </div>
  <div class="field">
    <%= f.label :make %><br />
    <%= f.text_field :make %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :manufactured_year %><br />
    <%= f.number_field :manufactured_year %>
  </div>
  <div class="field">
    <%= f.label :vin_number %><br />
    <%= f.text_field :vin_number %>
  </div>
  <div class="field">
    <%= f.label :next_service_date %><br />
    <%= f.date_select :next_service_date %>
  </div>
  <div class="field">
    <%= f.label :next_safety_date %><br />
    <%= f.date_select :next_safety_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
