<section>
  <h2>Trailers</h2>
	<%= form_tag trailers_path, :method => 'get', :class => 'search' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
		<%= label_tag :column %>
		<%= select_tag :column, options_for_select(Trailer.translated_searchable_columns(['id']), params[:column]) %>
		<%= label_tag :search %>
		<%= text_field_tag :search %>
		<%= submit_tag 'Submit' %>
  <% end %>
  <p><%= link_to 'New Trailer', new_trailer_path, :class => 'button new' %></p>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable "trailer_no", nil, @trailers, "trailer_no" %></th>
        <th scope="col"><%= sortable "trailer_type", nil, @trailers, "trailer_no" %></th>
        <th scope="col"><%= sortable "license_plate", nil, @trailers, "trailer_no" %></th>
        <th scope="col"><%= sortable "make", nil, @trailers, "trailer_no" %></th>
        <th scope="col"><%= sortable "model", nil, @trailers, "trailer_no" %></th>
        <th scope="col"><%= sortable "manufactured_year", nil, @trailers, "trailer_no" %></th>
        <th scope="col"><%= sortable "vin_number", nil, @trailers, "trailer_no" %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @trailers.each do |trailer| %>
      <tr>
        <td><%= trailer.trailer_no %></td>
        <td><%= trailer.trailer_type %></td>
        <td><%= trailer.license_plate %></td>
        <td><%= trailer.make %></td>
        <td><%= trailer.model %></td>
        <td><%= trailer.manufactured_year %></td>
        <td><%= trailer.vin_number %></td>
        <td><%= link_to '', trailer, :class => 'button show', :title => 'Show' %> <%= link_to '', edit_trailer_path(trailer), :class => 'button edit', :title => 'Edit' %> <%= link_to '', trailer, method: :delete, data: { confirm: 'Are you sure you want to delete this trailer?' }, :class => 'button destroy', :title => 'Delete' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
