<section>
  <h2>Trailer #<%= @trailer.id %></h2>
  <p id="notice"><%= notice %></p>
  <p><strong>Last service:</strong> <%= @trailer.last_service_id %></p>
  <p><strong>Last safety:</strong> <%= @trailer.last_safety_id %></p>
  <p><strong>Trailer no:</strong> <%= @trailer.trailer_no %></p>
  <p><strong>Trailer type:</strong> <%= @trailer.trailer_type %></p>
  <p><strong>License plate:</strong> <%= @trailer.license_plate %></p>
  <p><strong>Make:</strong> <%= @trailer.make %></p>
  <p><strong>Model:</strong> <%= @trailer.model %></p>
  <p><strong>Manufactured year:</strong> <%= @trailer.manufactured_year %></p>
  <p><strong>Vin number:</strong> <%= @trailer.vin_number %></p>
  <p><strong>Next service date:</strong> <%= @trailer.next_service_date %></p>
  <p><strong>Next safety date:</strong> <%= @trailer.next_safety_date %></p>
  <p><%= link_to 'Edit', edit_trailer_path(@trailer) %> | <%= link_to 'Back', trailers_path %></p>
</section>
