<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :company_type %>
  <%= f.select :company_type, options_for_select(ValidationValues.company_type) %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :street %>
  <%= f.text_field :street %>
  <%= f.label :unit %>
  <%= f.text_field :unit %>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <%= f.label :province %>
  <%= f.select :province, options_for_select(ValidationValues.province) %>
  <%= f.label :postal_code %>
  <%= f.text_field :postal_code %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :primary_phone %>
  <%= f.number_field :primary_phone %>
  <%= f.label :secondary_phone %>
  <%= f.number_field :secondary_phone %>
  <%= f.label :fax %>
  <%= f.number_field :fax %>
  <%= f.label :contact_name %>
  <%= f.text_field :contact_name %>
  <div class="footer">
    <%= f.submit %>
  </div>
<% end %>
