<!-- create form used in companies -->
<%= form_for(@company) do |f| %>
  <!-- if server side validation errors occur, display them here -->
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="float-left">
    <%= f.label :company_type %>
    <%= f.select :company_type, options_for_select(ValidationValues.company_type) %>
    <%= f.label :name %>
    <%= f.text_field :name, :required => 'required', :pattern => ValidationValues.c_company, :placeholder => ValidationValues.p_company %>
    <%= f.label :street %>
    <%= f.text_field :street, :required => 'required', :pattern => ValidationValues.c_street, :placeholder => ValidationValues.p_street_only %>
    <%= f.label :unit %>
    <%= f.text_field :unit, :pattern => ValidationValues.c_address_unit, :placeholder => ValidationValues.p_address_unit %>
  </div>
  <div class="float-left">
    <%= f.label :city %>
    <%= f.text_field :city, :required => 'required', :pattern => ValidationValues.c_alpha, :placeholder => ValidationValues.p_city %>
    <%= f.label :province %>
    <%= f.select :province, options_for_select(ValidationValues.province) %>
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code, :required => 'required', :pattern => ValidationValues.c_postal_code, :placeholder => ValidationValues.p_postal_code %>
    <%= f.label :email %>
    <%= f.text_field :email, :required => 'required', :pattern => ValidationValues.c_email, :placeholder => ValidationValues.p_email %>
  </div>
  <div class="float-left">
    <%= f.label :primary_phone %>
    <%= f.number_field :primary_phone, :required => 'required', :pattern => ValidationValues.c_phone_number, :placeholder => ValidationValues.p_phone_number %>
    <%= f.label :secondary_phone %>
    <%= f.number_field :secondary_phone, :pattern => ValidationValues.c_phone_number, :placeholder => ValidationValues.p_secondary_phone_number %>
    <%= f.label :fax %>
    <%= f.number_field :fax, :pattern => ValidationValues.c_phone_number, :placeholder => ValidationValues.p_phone_number %>
    <%= f.label :contact_name %>
    <%= f.text_field :contact_name, :required => 'required', :pattern => ValidationValues.c_name, :placeholder => ValidationValues.p_name %>
  </div>
  <div class="clear"></div>
  <div class="footer">
    <%= f.submit %>
  </div>
<% end %>
