<section>
  <h2>Companies</h2>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable "company_type" %></th>
        <th scope="col"><%= sortable "name" %></th>
        <th scope="col"><%= sortable "street" %></th>
        <th scope="col"><%= sortable "unit" %></th>
        <th scope="col"><%= sortable "city" %></th>
        <th scope="col"><%= sortable "province" %></th>
        <th scope="col"><%= sortable "postal_code" %></th>
        <th scope="col"><%= sortable "email" %></th>
        <th scope="col"><%= sortable "primary_phone" %></th>
        <th scope="col"><%= sortable "secondary_phone" %></th>
        <th scope="col"><%= sortable "fax" %></th>
        <th scope="col"><%= sortable "contact_name" %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.company_type %></td>
        <td><%= company.name %></td>
        <td><%= company.street %></td>
        <td><%= company.unit %></td>
        <td><%= company.city %></td>
        <td><%= company.province %></td>
        <td><%= company.postal_code %></td>
        <td><%= company.email %></td>
        <td><%= company.primary_phone %></td>
        <td><%= company.secondary_phone %></td>
        <td><%= company.fax %></td>
        <td><%= company.contact_name %></td>
        <td><%= link_to 'Show', company, :class => 'ym-button ym-small ym-play ym-success' %> <%= link_to 'Edit', edit_company_path(company), :class => 'ym-button ym-small ym-edit ym-warning' %> <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure you want to delete this company?' }, :class => 'ym-button ym-small ym-delete ym-danger' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p><%= link_to 'New Company', new_company_path, :class => 'ym-button ym-add' %></p>
</section>
