<h1>Companies</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Street</th>
    <th>Unit</th>
    <th>City</th>
    <th>Privince</th>
    <th>Postal code</th>
    <th>Email</th>
    <th>Primary phone</th>
    <th>Secondary phone</th>
    <th>Fax</th>
    <th>Contact name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.type %></td>
    <td><%= company.name %></td>
    <td><%= company.street %></td>
    <td><%= company.unit %></td>
    <td><%= company.city %></td>
    <td><%= company.privince %></td>
    <td><%= company.postal_code %></td>
    <td><%= company.email %></td>
    <td><%= company.primary_phone %></td>
    <td><%= company.secondary_phone %></td>
    <td><%= company.fax %></td>
    <td><%= company.contact_name %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
