<section>
  <h2>Companies</h2>
	<%= form_tag companies_path, :method => 'get' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <p>
      Search: 
      <%= text_field_tag :search %>
	    by 
	    <%= select_tag :search_column, options_for_select(Company.translated_searchable_columns(['id']), params[:search_column]) %>
      <%= submit_tag 'Search' %>
    </p>
  <% end %>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable "company_type", nil, @companies, "company_type" %></th>
        <th scope="col"><%= sortable "name", nil, @companies, "company_type" %></th>
        <th scope="col"><%= sortable "street", nil, @companies, "company_type" %></th>
        <th scope="col"><%= sortable "unit", nil, @companies, "company_type" %></th>
        <th scope="col"><%= sortable "city", nil, @companies, "company_type" %></th>
        <th scope="col"><%= sortable "province", nil, @companies, "company_type" %></th>
        <th scope="col"><%= sortable "postal_code", nil, @companies, "company_type" %></th>
        <th scope="col"><%= sortable "email", nil, @companies, "company_type" %></th>
        <th scope="col"><%= sortable "primary_phone", nil, @companies, "company_type" %></th>
        <th scope="col"><%= sortable "secondary_phone", nil, @companies, "company_type" %></th>
        <th scope="col"><%= sortable "fax", nil, @companies, "company_type" %></th>
        <th scope="col"><%= sortable "contact_name", nil, @companies, "company_type" %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.company_type %></td>
        <td><%= company.name %></td>
        <td><%= company.street %></td>
        <td><%= company.unit %></td>
        <td><%= company.city %></td>
        <td><%= company.province %></td>
        <td><%= company.postal_code %></td>
        <td><%= company.email %></td>
        <td><%= company.primary_phone %></td>
        <td><%= company.secondary_phone %></td>
        <td><%= company.fax %></td>
        <td><%= company.contact_name %></td>
        <td><%= link_to 'Show', company, :class => 'ym-button ym-small ym-play ym-success' %> <%= link_to 'Edit', edit_company_path(company), :class => 'ym-button ym-small ym-edit ym-warning' %> <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure you want to delete this company?' }, :class => 'ym-button ym-small ym-delete ym-danger' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p><%= link_to 'New Company', new_company_path, :class => 'ym-button ym-add' %></p>
</section>
