<section>
  <h2>Companies</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Company type</th>
        <th scope="col">Name</th>
        <th scope="col">Street</th>
        <th scope="col">Unit</th>
        <th scope="col">City</th>
        <th scope="col">Privince</th>
        <th scope="col">Postal code</th>
        <th scope="col">Email</th>
        <th scope="col">Primary phone</th>
        <th scope="col">Secondary phone</th>
        <th scope="col">Fax</th>
        <th scope="col">Contact name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.company_type %></td>
        <td><%= company.name %></td>
        <td><%= company.street %></td>
        <td><%= company.unit %></td>
        <td><%= company.city %></td>
        <td><%= company.province %></td>
        <td><%= company.postal_code %></td>
        <td><%= company.email %></td>
        <td><%= company.primary_phone %></td>
        <td><%= company.secondary_phone %></td>
        <td><%= company.fax %></td>
        <td><%= company.contact_name %></td>
        <td><%= link_to 'Show', company, :class => 'button show' %> <%= link_to 'Edit', edit_company_path(company), :class => 'button edit' %> <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure you want to delete this company?' }, :class => 'button destroy' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p><%= link_to 'New Company', new_company_path, :class => 'button new' %></p>
</section>
