<section>
  <h2><%= @company.name %></h2>
  <p id="notice" class="highlight"><%= notice %></p>
  <p><strong>Company type:</strong> <%= @company.company_type %></p>
  <p><strong>Name:</strong> <%= @company.name %></p>
  <p><strong>Street:</strong> <%= @company.street %></p>
  <p><strong>Unit:</strong> <%= @company.unit %></p>
  <p><strong>City:</strong> <%= @company.city %></p>
  <p><strong>Province:</strong> <%= @company.province %></p>
  <p><strong>Postal code:</strong> <%= @company.postal_code %></p>
  <p><strong>Email:</strong> <%= @company.email %></p>
  <p><strong>Primary phone:</strong> <%= @company.primary_phone %></p>
  <p><strong>Secondary phone:</strong> <%= @company.secondary_phone %></p>
  <p><strong>Fax:</strong> <%= @company.fax %></p>
  <p><strong>Contact name:</strong> <%= @company.contact_name %></p>
  <p><%= link_to 'Edit', edit_company_path(@company), :class => 'ym-button ym-edit' %> | <%= link_to 'Back', companies_path, :class => 'ym-button ym-close' %></p>
</section>
