<section>
  <h2>Maintenance Records</h2>
	<%= form_tag maintenances_path, :method => 'get' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
		<%= label_tag :column %>
		<%= select_tag :column, options_for_select(Maintenance.translated_searchable_columns(['id']), params[:column]) %>
		<%= label_tag :search %>
		<%= text_field_tag :search %>
		<%= submit_tag 'Submit' %>
  <% end %>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable "vehicle_id", nil, @maintenances, "vehicle_id" %></th>
        <th scope="col"><%= sortable "trip_id", nil, @maintenances, "vehicle_id" %></th>
        <th scope="col"><%= sortable "date", nil, @maintenances, "vehicle_id" %></th>
        <th scope="col"><%= sortable "cost", nil, @maintenances, "vehicle_id" %></th>
        <th scope="col"><%= sortable "maintenance_type", nil, @maintenances, "vehicle_id" %></th>
        <th scope="col"><%= sortable "description", nil, @maintenances, "vehicle_id" %></th>
        <th scope="col"><%= sortable "kilometres", nil, @maintenances, "vehicle_id" %></th>
        <th scope="col"><%= sortable "vehicle_type", nil, @maintenances, "vehicle_id" %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @maintenances.each do |maintenance| %>
      <tr>
        <td><%= maintenance.vehicle_id %></td>
        <td><%= maintenance.trip_id %></td>
        <td><%= maintenance.date %></td>
        <td><%= maintenance.cost %></td>
        <td><%= maintenance.maintenance_type %></td>
        <td><%= maintenance.description %></td>
        <td><%= maintenance.kilometres %></td>
        <td><%= maintenance.vehicle_type %></td>
        <td><%= link_to 'Show', maintenance, :class => 'ym-button ym-small ym-play ym-success' %> <%= link_to 'Edit', edit_maintenance_path(maintenance), :class => 'ym-button ym-small ym-edit ym-warning' %> <%= link_to 'Destroy', maintenance, method: :delete, data: { confirm: 'Are you sure you want to delete this maintenance record?' }, :class => 'ym-button ym-small ym-delete ym-danger' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p><%= link_to 'New Maintenance', new_maintenance_path, :class => 'ym-button ym-add' %></p>
</section>
