<!-- index page for maintenance records -->
<section>
  <h2>Maintenance Records</h2>
  <p><%= link_to 'New Maintenance', new_maintenance_path, :class => 'button new' %><%= link_to 'Print', "reports/#{params[:controller]}" + "?column=#{@column}&direction=#{@direction}&search=#{@search}&sort=#{@sort}", :class => 'button' %></p>
	<!-- create form for search/ordering -->
  <%= form_tag maintenances_path, :method => 'get', :class => 'search' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
		<%= label_tag :column %>
		<%= select_tag :column, options_for_select(Maintenance.translated_searchable_columns(['id']), params[:column]) %>
		<%= label_tag :search %>
		<%= text_field_tag :search %>
		<%= submit_tag 'Submit' %>
  <% end %>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable "vehicle_type", nil, @maintenances, 'date' %></th>
        <th scope="col"><%= sortable "vehicle_id", nil, @maintenances, 'date' %></th>
        <th scope="col"><%= sortable "trip_id", nil, @maintenances, 'date' %></th>
        <th scope="col"><%= sortable "date", nil, @maintenances, 'date' %></th>
        <th scope="col"><%= sortable "cost", nil, @maintenances, 'date' %></th>
        <th scope="col"><%= sortable "maintenance_type", nil, @maintenances, 'date' %></th>
        <th scope="col"><%= sortable "kilometres", nil, @maintenances, 'date' %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <!-- go through all maintenance records and create rows with data -->
    <% @maintenances.each do |maintenance| %>
      <% if maintenance.vehicle_type == 'truck' %>
        <% truck = Truck.find(maintenance.vehicle_id) %>
      <% else %>
        <% trailer = Trailer.find(maintenance.vehicle_id) %>
      <% end %>
      <% trip = Trip.find(maintenance.trip_id) %>
      <tr>
        <td><%= maintenance.vehicle_type %></td>
        <% if maintenance.vehicle_type == 'truck' %>
        <td><%= link_to truck.truck_no, "/trucks/#{maintenance.vehicle_id}" %></td>
        <% else %>
        <td><%= link_to trailer.trailer_no, "/trailers/#{maintenance.vehicle_id}" %></td>
        <% end %>
        <td><%= link_to trip.trip_no, "/trips/#{maintenance.trip_id}" %></td>
        <td><%= maintenance.date %></td>
        <td><%= number_to_currency maintenance.cost %></td>
        <td><%= maintenance.maintenance_type %></td>
        <td><%= maintenance.kilometres %> <abbr title="kilometre">km</abbr></td>
        <td><%= link_to '', maintenance, :class => 'button show', :title => 'Show' %> <%= link_to '', edit_maintenance_path(maintenance), :class => 'button edit', :title => 'Edit' %> <%= link_to '', maintenance, method: :delete, data: { confirm: 'Are you sure you want to delete maintenance record ' + maintenance.id.to_s + '?' }, :class => 'button destroy', :title => 'Delete' %></td>
      </tr>
    <% end %>
    <!-- display no results if there are no maintenance records -->
    <% if @maintenances.empty? %>
      <tr>
        <td colspan="8">No results found.</td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @maintenances %>
</section>
