<h1>Maintenance Records</h1>

<table>
  <thead>
  <tr>
    <th>Vehicle</th>
    <th>Trip</th>
    <th>Date</th>
    <th>Cost</th>
    <th>Type</th>
    <th>Description</th>
    <th>Kilometres</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @maintenances.each do |maintenance| %>
  <tr>
    <td><%= maintenance.vehicle_id %></td>
    <td><%= maintenance.trip_id %></td>
    <td><%= maintenance.date %></td>
    <td><%= maintenance.cost %></td>
    <td><%= maintenance.type %></td>
    <td><%= maintenance.description %></td>
    <td><%= maintenance.kilometres %></td>
    <td><%= link_to 'Show', maintenance, :class => 'ym-button ym-small ym-play ym-success' %></td>
    <td><%= link_to 'Edit', edit_maintenance_path(maintenance), :class => 'ym-button ym-small ym-edit ym-warning' %></td>
    <td><%= link_to 'Destroy', maintenance, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'ym-button ym-small ym-delete ym-danger' %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Maintenance', new_maintenance_path, :class => 'ym-button ym-add' %>
