<section>
  <h2>Maintenance Record #<%= @maintenance.id %></h2>
  <p id="notice" class="highlight"><%= notice %></p>
  <p><strong>Vehicle:</strong> <%= @maintenance.vehicle_id %></p>
  <p><strong>Trip:</strong> <%= @maintenance.trip_id %></p>
  <p><strong>Date:</strong> <%= @maintenance.date %></p>
  <p><strong>Cost:</strong> <%= @maintenance.cost %></p>
  <p><strong>Maintenance type:</strong> <%= @maintenance.maintenance_type %></p>
  <p><strong>Description:</strong> <%= @maintenance.description %></p>
  <p><strong>Kilometres:</strong> <%= @maintenance.kilometres %></p>
  <p><%= link_to 'Edit', edit_maintenance_path(@maintenance), :class => 'ym-button ym-edit' %> <%= link_to 'Back', maintenances_path, :class => 'ym-button ym-close' %></p>
</section>
