<%= form_for@job_posting do |f| %>
  <% if @job_posting.errors.any? %>
    <div id="error_explanation">
      <section>
        <h2><%= pluralize(@job_posting.errors.count, "error") %> prohibited this job_posting from being saved:</h2>
        
        <ul>
        <% @job_posting.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </section>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title, :required => 'required', :pattern => ValidationValues.c_content %>
  <%= f.label :post_date %>
  <%= f.date_select :post_date %>
  <%= f.label :closing_date %>
  <%= f.date_select :closing_date %>
  <%= f.label :description %>
  <%= f.text_area :description, :size => '100x20', :required => 'required', :pattern => ValidationValues.c_content %>
  <%= f.label :requirements %>
  <%= f.text_field :requirements, :required => 'required', :pattern => ValidationValues.c_content, :placeholder => ValidationValues.p_requirements %>
  <div class="footer">
    <%= f.submit %>
  </div>
<% end %>
