<!-- index page for job postings -->
<section>
  <h2>Job Postings</h2>
  <% if user_signed_in? && current_user.access != 'driver' %>
    <p><%= link_to 'New Job posting', new_job_posting_path, :class => 'button new' %><%= link_to 'Print', "reports/#{params[:controller]}" + "?column=#{@column}&direction=#{@direction}&search=#{@search}&sort=#{@sort}", :class => 'button' %></p>
	  <!-- create form for search/ordering -->
    <%= form_tag job_postings_path, :method => 'get', :class => 'search' do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
		  <%= label_tag :column %>
		  <%= select_tag :column, options_for_select(JobPosting.translated_searchable_columns(['id']), params[:column]) %>
		  <%= label_tag :search %>
		  <%= text_field_tag :search %>
		  <%= submit_tag 'Submit' %>
    <% end %>
  <% end %>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable "title", nil, @job_postings, "title" %></th>
        <th scope="col"><%= sortable "post_date", nil, @job_postings, "title" %></th>
        <th scope="col"><%= sortable "closing_date", nil, @job_postings, "title" %></th>
        <th scope="col"><%= sortable "description", nil, @job_postings, "title" %></th>
        <th scope="col"><%= sortable "requirements", nil, @job_postings, "title" %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <!-- go through all job posting records and create rows with data -->
    <% @job_postings.each do |job_posting| %>
      <tr>
        <td><%= job_posting.title %></td>
        <td><%= job_posting.post_date %></td>
        <td><%= job_posting.closing_date %></td>
        <td><%= job_posting.description %></td>
        <td><%= job_posting.requirements %></td>
        <td>
          <%= link_to '', job_posting, :class => 'button show', :title => 'Show' %>
          <% if user_signed_in? && current_user.access != 'driver' %>
            <%= link_to '', edit_job_posting_path(job_posting), :class => 'button edit', :title => 'Edit' %>
            <%= link_to '', job_posting, method: :delete, data: { confirm: 'Are you sure you want to delete job posting: ' + job_posting.title + '?' }, :class => 'button destroy', :title => 'Delete' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <!-- display no results if announcements contains no records -->
    <% if @job_postings.empty? %>
      <tr>
        <td colspan="6">No results found.</td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @job_postings %>
</section>
