<p class = "highlight" id="notice"><%= notice %></p>

<h2><%= @job_posting.title %></h2>


<p>
  <b>Post date:</b>
  <%= @job_posting.post_date %>
</p>

<p>
  <b>Closing date:</b>
  <%= @job_posting.closing_date %>
</p>

<p>
  <b>Description:</b>
  <%= @job_posting.description %>
</p>

<p>
  <b>Requirements:</b>
  <%= @job_posting.requirements %>
</p>


<%= link_to 'Edit', edit_job_posting_path(@job_posting), :class => 'ym-button ym-edit' %>
<%= link_to 'Back', job_postings_path, :class => 'ym-button ym-close' %>
