<section>
  <h2><%= @job_posting.title %></h2>
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <dl>
    <dt><strong>Post date:</strong></dt><dd><%= @job_posting.post_date %></dd>
    <dt><strong>Closing date:</strong></dt><dd><%= @job_posting.closing_date %></dd>
    <dt><strong>Description:</strong></dt><dd><%= @job_posting.description %></dd>
    <dt><strong>Requirements:</strong></dt><dd><%= @job_posting.requirements %></dd>
  </dl>
  <p>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_job_posting_path(@job_posting), :class => 'button edit' %>
    <% end %>
    <%= link_to 'Back', job_postings_path, :class => 'button back' %>
    <%= link_to 'Apply', new_job_application_path(:title => @job_posting.title), method:post %>
  </p>
</section>
