<%= form_for(@driver) do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <section>
        <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>
        
        <ul>
        <% @driver.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </section>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :street %>
  <%= f.text_field :street %>
  <%= f.label :unit %>
  <%= f.text_field :unit %>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <%= f.label :postal_code %>
  <%= f.text_field :postal_code %>
  <%= f.label :drivers_license_number %>
  <%= f.text_field :drivers_license_number %>
  <%= f.label :date_of_birth %>
  <%= f.text_field :date_of_birth %>
  <%= f.label :home_phone %>
  <%= f.number_field :home_phone %>
  <%= f.label :cell_phone %>
  <%= f.number_field :cell_phone %>
  <%= f.label :business_name %>
  <%= f.collection_select :business_name, @driver_companies, :id, :name, { }, { :size => 5 } %>
  <%= f.label :comments %>
  <%= f.text_field :comments %>
  <div class="footer">
    <%= f.submit %>
  </div>
<% end %>
