<%= form_for(@driver) do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% @driver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ym-fbox">
    <%= f.label :truck_id %><br />
    <%= f.number_field :truck_id %>
  </div>
  <div class="ym-fbox">
    <%= f.label :trailer_id %><br />
    <%= f.number_field :trailer_id %>
  </div>
  <div class="ym-fbox">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="ym-fbox">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="ym-fbox">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div class="ym-fbox">
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </div>
  <div class="ym-fbox">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="ym-fbox">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </div>
  <div class="ym-fbox">
    <%= f.label :home_phone %><br />
    <%= f.number_field :home_phone %>
  </div>
  <div class="ym-fbox">
    <%= f.label :cell_phone %><br />
    <%= f.number_field :cell_phone %>
  </div>
  <div class="ym-fbox">
    <%= f.label :business_name %><br />
    <%= f.text_field :business_name %>
  </div>
  <div class="ym-fbox">
    <%= f.label :hst_no %><br />
    <%= f.text_field :hst_no %>
  </div>
  <div class="ym-fbox">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
  <div class="actions ym-fbox-footer">
    <%= f.submit %>
  </div>
<% end %>
