<section>
  <h2>Edit <%= @driver.first_name %> <%= @driver.last_name %></h2>
  <%= render 'form' %>
  <p><%= link_to 'Show', @driver, :class => 'ym-button ym-play' %> | <%= link_to 'Back', drivers_path, :class => 'ym-button ym-close' %></p>
</section>
