<section>
  <h2>Edit <%= @driver.first_name %> <%= @driver.last_name %></h2>
  <%= render 'form' %>
  <p><%= link_to 'Show', @driver, :class => 'button show' %> <%= link_to 'Back', drivers_path, :class => 'button back' %></p>
</section>
