<section>
  <h2>Drivers</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Street</th>
        <th scope="col">Unit</th>
        <th scope="col">City</th>
        <th scope="col">Postal code</th>
        <th scope="col">Home phone</th>
        <th scope="col">Cell phone</th>
        <th scope="col">Business name</th>
        <th scope="col">Hst no</th>
        <th scope="col">Comments</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.first_name %></td>
        <td><%= driver.last_name %></td>
        <td><%= driver.street %></td>
        <td><%= driver.unit %></td>
        <td><%= driver.city %></td>
        <td><%= driver.postal_code %></td>
        <td><%= driver.home_phone %></td>
        <td><%= driver.cell_phone %></td>
        <td><%= driver.business_name %></td>
        <td><%= driver.hst_no %></td>
        <td><%= driver.comments %></td>
        <td><%= link_to 'Show', driver, :class => 'ym-button ym-small ym-play ym-success' %> <%= link_to 'Edit', edit_driver_path(driver), :class => 'ym-button ym-small ym-edit ym-warning' %> <%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure you want to delete this driver?' }, :class => 'ym-button ym-small ym-delete ym-danger' %></td>
      </tr>
    <% end %>
    </thead>
  </table>
  <p><%= link_to 'New Driver', new_driver_path, :class => 'ym-button ym-add' %></p>
</section>
