<section>
  <h2>Drivers</h2>
	<%= form_tag drivers_path, :method => 'get' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <p>
      Search: 
      <%= text_field_tag :search %>
    	by 
    	<%= select_tag :search_column, options_for_select(Driver.translated_searchable_columns(['id']), params[:search_column]) %>
      <%= submit_tag 'Search' %>
    </p>
  <% end %>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable "first_name", nil, @drivers, "first_name" %></th>
        <th scope="col"><%= sortable "last_name", nil, @drivers, "first_name" %></th>
        <th scope="col"><%= sortable "street", nil, @drivers, "first_name" %></th>
        <th scope="col"><%= sortable "unit", nil, @drivers, "first_name" %></th>
        <th scope="col"><%= sortable "city", nil, @drivers, "first_name" %></th>
        <th scope="col"><%= sortable "postal_code", nil, @drivers, "first_name" %></th>
        <th scope="col"><%= sortable "home_phone", nil, @drivers, "first_name" %></th>
        <th scope="col"><%= sortable "cell_phone", nil, @drivers, "first_name" %></th>
        <th scope="col"><%= sortable "business_name", nil, @drivers, "first_name" %></th>
        <th scope="col"><%= sortable "hst_no", nil, @drivers, "first_name" %></th>
        <th scope="col"><%= sortable "comments", nil, @drivers, "first_name" %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.first_name %></td>
        <td><%= driver.last_name %></td>
        <td><%= driver.street %></td>
        <td><%= driver.unit %></td>
        <td><%= driver.city %></td>
        <td><%= driver.postal_code %></td>
        <td><%= driver.home_phone %></td>
        <td><%= driver.cell_phone %></td>
        <td><%= driver.business_name %></td>
        <td><%= driver.hst_no %></td>
        <td><%= driver.comments %></td>
        <td><%= link_to 'Show', driver, :class => 'ym-button ym-small ym-play ym-success' %> <%= link_to 'Edit', edit_driver_path(driver), :class => 'ym-button ym-small ym-edit ym-warning' %> <%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure you want to delete this driver?' }, :class => 'ym-button ym-small ym-delete ym-danger' %></td>
      </tr>
    <% end %>
    </thead>
  </table>
  <p><%= link_to 'New Driver', new_driver_path, :class => 'ym-button ym-add' %></p>
</section>
