<section>
  <h2>Drivers</h2>
  <p><%= link_to 'New Driver', new_driver_path, :class => 'button new' %></p>
	<%= form_tag drivers_path, :method => 'get', :class => 'search' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
		<%= label_tag :column %>
		<%= select_tag :column, options_for_select(Driver.translated_searchable_columns(['id']), params[:column]) %>
		<%= label_tag :search %>
		<%= text_field_tag :search %>
		<%= submit_tag 'Submit' %>
  <% end %>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable "name", nil, @drivers, "name" %></th>
        <th scope="col"><%= sortable "street", nil, @drivers, "name" %></th>
        <th scope="col"><%= sortable "city", nil, @drivers, "name" %></th>
        <th scope="col"><%= sortable "postal_code", nil, @drivers, "name" %></th>
        <th scope="col"><%= sortable "cell_phone", nil, @drivers, "name" %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.name %></td>
        <td><%= driver.street %></td>
        <td><%= driver.city %></td>
        <td><%= driver.postal_code %></td>
        <td><%= driver.cell_phone %></td>
        <td><%= link_to '', driver, :class => 'button show', :title => 'Show' %> <%= link_to '', edit_driver_path(driver), :class => 'button edit', :title => 'Edit' %> <%= link_to '', driver, method: :delete, data: { confirm: 'Are you sure you want to delete driver: ' + driver.name + '?' }, :class => 'button destroy', :title => 'Delete' %></td>
      </tr>
    <% end %>
    </thead>
  </table>
  <%= paginate @drivers %>
</section>
