<!-- show specific driver record -->
<section>
  <h2><%= @driver.name %></h2>
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <dl>
    <dt><strong>Name:</strong></dt><dd><%= @driver.name %></dd>
    <dt><strong>Street:</strong></dt><dd><%= @driver.street %></dd>
    <dt><strong>Unit:</strong></dt><dd><%= @driver.unit %></dd>
    <dt><strong>City:</strong></dt><dd><%= @driver.city %></dd>
    <dt><strong>Postal code:</strong></dt><dd><%= @driver.postal_code %></dd>
    <dt><strong>Driver's License Number:</strong></dt><dd><%= @driver.drivers_license_number %></dd>
    <dt><strong>Date of Birth:</strong></dt><dd><%= @driver.date_of_birth %></dd>
    <dt><strong>Home phone:</strong></dt><dd><%= @driver.home_phone %></dd>
    <dt><strong>Cell phone:</strong></dt><dd><%= @driver.cell_phone %></dd>
    <dt><strong>Business name:</strong></dt><dd><%= @driver.business_name %></dd>
    <dt><strong>Comments:</strong></dt><dd><%= @driver.comments %></dd>
  </dl>
  <p><%= link_to 'Edit', edit_driver_path(@driver), :class => 'button edit' %> <%= link_to 'Back', drivers_path, :class => 'button back' %></p>
</section>
