<section>
  <h2>Expenses</h2>
	<%= form_tag expenses_path, :method => 'get' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
		<%= label_tag :column %>
		<%= select_tag :column, options_for_select(Expense.translated_searchable_columns([]), params[:column]) %>
		<%= label_tag :search %>
		<%= text_field_tag :search %>
		<%= submit_tag 'Submit' %>
  <% end %>
  <table>
    <thead>
      <tr>
				<th scope="col"><%= sortable "id", "Expense ID", @expenses, "quick_pay" %></th>
        <th scope="col"><%= sortable "quick_pay", nil, @expenses, "quick_pay" %></th>
        <th scope="col"><%= sortable "fuel", nil, @expenses, "quick_pay" %></th>
        <th scope="col"><%= sortable "driver_pay", nil, @expenses, "quick_pay" %></th>
        <th scope="col"><%= sortable "misc_cost", nil, @expenses, "quick_pay" %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |expense| %>
      <tr>
				<td><%= expense.id %></td>
        <td><%= expense.quick_pay %></td>
        <td><%= expense.fuel %></td>
        <td><%= expense.driver_pay %></td>
        <td><%= expense.misc_cost %></td>
        <td><%= link_to '', expense, :class => 'button show', :title => 'Show' %> <%= link_to '', edit_expense_path(expense), :class => 'button edit', :title => 'Edit' %> <%= link_to '', expense, method: :delete, data: { confirm: 'Are you sure you want do delete this expense?' }, :class => 'button destroy', :title => 'Delete' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p><%= link_to 'New Expense', new_expense_path, :class => 'button new' %></p>
</section>
