<section>
  <h2>Expenses</h2>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable "quick_pay" %></th>
        <th scope="col"><%= sortable "fuel" %></th>
        <th scope="col"><%= sortable "driver_pay" %></th>
        <th scope="col"><%= sortable "misc_cost" %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.quick_pay %></td>
        <td><%= expense.fuel %></td>
        <td><%= expense.driver_pay %></td>
        <td><%= expense.misc_cost %></td>
        <td><%= link_to 'Show', expense %> <%= link_to 'Edit', edit_expense_path(expense) %> <%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure you want do delete this expense?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p><%= link_to 'New Expense', new_expense_path %></p>
</section>
