<p id="notice"><%= notice %></p>

<p>
  <b>Quick pay:</b>
  <%= @expense.quick_pay %>
</p>

<p>
  <b>Fuel:</b>
  <%= @expense.fuel %>
</p>

<p>
  <b>Driver pay:</b>
  <%= @expense.driver_pay %>
</p>

<p>
  <b>Misc cost:</b>
  <%= @expense.misc_cost %>
</p>


<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
