<%= form_for(@shipment) do |f| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <section>
        <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>
        
        <ul>
        <% @shipment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </section>
    </div>
  <% end %>

  <%= f.label :broker_id %>
  <%= f.number_field :broker_id %>
  <%= f.label :driver_id %>
  <%= f.number_field :driver_id %>
  <%= f.label :customer_id %>
  <%= f.number_field :customer_id %>
  <%= f.label :trip_id %>
  <%= f.number_field :trip_id %>
  <%= f.label :cartage_id %>
  <%= f.number_field :cartage_id %>
  <%= f.label :rate %>
  <%= f.text_field :rate %>
  <%= f.label :partial %>
  <%= f.check_box :partial %>
  <%= f.label :distance %>
  <%= f.text_field :distance %>
  <div class="footer">
    <%= f.submit %>
  </div>
<% end %>
