<%= form_for(@shipment) do |f| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <section>
        <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>
        
        <ul>
        <% @shipment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </section>
    </div>
  <% end %>

  <%= f.label :shipment_no %>
  <%= f.number_field :shipment_no, :required => 'required', :placeholder => ValidationValues.p_integer, :format => ValidationValues.c_integer %>
  <%= f.label :trip_id %>
  <%= f.number_field :trip_id, :required => 'required', :placeholder => ValidationValues.p_integer, :format => ValidationValues.c_integer %>
  <%= f.label :broker_id %>
  <%= f.number_field :broker_id, :required => 'required', :placeholder => ValidationValues.p_integer, :format => ValidationValues.c_integer %>
  <%= f.label :shipper %>
  <%= f.number_field :shipper, :required => 'required', :placeholder => ValidationValues.p_integer, :format => ValidationValues.c_integer %>
  <%= f.label :receiver %>
  <%= f.number_field :receiver, :required => 'required', :placeholder => ValidationValues.p_integer, :format => ValidationValues.c_integer %>
  <%= f.label :cartage_id %>
  <%= f.number_field :cartage_id, :placeholder => ValidationValues.p_integer, :format => ValidationValues.c_integer %>
  <%= f.label :broker_date %>
  <%= f.text_field :broker_date, :required => 'required', :placeholder => ValidationValues.p_date, :format => ValidationValues.c_date %>
  <%= f.label :shipper_address %>
  <%= f.text_field :shipper_address, :required => 'required', :placeholder => ValidationValues.p_street, :format => ValidationValues.c_street %>
  <%= f.label :receiver_address %>
  <%= f.text_field :receiver_address, :required => 'required', :placeholder => ValidationValues.p_street, :format => ValidationValues.c_street %>
  <%= f.label :rate %>
  <%= f.text_field :rate, :required => 'required', :placeholder => ValidationValues.p_double, :format => ValidationValues.c_double %><br/>
  <%= f.label :delivered, :class => 'inline' %>
  <%= f.check_box :delivered %>
  <%= f.label :invoice %>
  <%= f.number_field :invoice, :required => 'required', :placeholder => ValidationValues.p_integer, :format => ValidationValues.c_integer %>
  <%= f.label :distance %>
  <%= f.text_field :distance, :required => 'required', :placeholder => ValidationValues.p_integer, :format => ValidationValues.c_integer %>
  <%= f.label :primary_driver %>
  <%= f.text_field :primary_driver, :required => 'required', :placeholder => ValidationValues.p_integer, :format => ValidationValues.c_integer %>
  <%= f.label :secondary_driver %>
  <%= f.text_field :secondary_driver, :placeholder => ValidationValues.p_integer, :format => ValidationValues.c_integer %>
  <%= f.label :primary_quick_pay %>
  <%= f.text_field :primary_quick_pay, :placeholder => ValidationValues.p_double, :format => ValidationValues.c_double %>
  <%= f.label :secondary_quick_pay %>
  <%= f.text_field :secondary_quick_pay, :placeholder => ValidationValues.p_double, :format => ValidationValues.c_double %>
  <%= f.label :primary_driver_pay %>
  <%= f.text_field :primary_driver_pay, :required => 'required', :placeholder => ValidationValues.p_double, :format => ValidationValues.c_double %>
  <%= f.label :secondary_driver_pay %>
  <%= f.text_field :secondary_driver_pay, :placeholder => ValidationValues.p_double, :format => ValidationValues.c_double %>
  <%= f.label :misc_cost %>
  <%= f.text_field :misc_cost, :placeholder => ValidationValues.p_double, :format => ValidationValues.c_double %>
  <%= f.label :comments %>
  <%= f.text_field :comments, :format => ValidationValues.c_content %>
  <div class="footer">
    <%= f.submit %>
  </div>
<% end %>
