<%= form_for(@shipment) do |f| %>
  <% if @shipment.errors.any? %>
    <div id="error_explanation">
      <section>
        <h2><%= pluralize(@shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>
        
        <ul>
        <% @shipment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </section>
    </div>
  <% end %>

  <div class="ym-fbox">
    <%= f.label :broker_id %><br />
    <%= f.number_field :broker_id %>
  </div>
  <div class="ym-fbox">
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </div>
  <div class="ym-fbox">
    <%= f.label :trip_id %><br />
    <%= f.number_field :trip_id %>
  </div>
  <div class="ym-fbox">
    <%= f.label :rate %><br />
    <%= f.text_field :rate %>
  </div>
  <div class="ym-fbox">
    <%= f.label :partial %><br />
    <%= f.check_box :partial %>
  </div>
  <div class="ym-fbox">
    <%= f.label :distance %><br />
    <%= f.text_field :distance %>
  </div>
  <div class="actions ym-fbox-footer">
    <%= f.submit %>
  </div>
<% end %>
