<section>
  <h2>Shipments</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Broker</th>
        <th scope="col">Customer</th>
        <th scope="col">Trip</th>
        <th scope="col">Shipment no</th>
        <th scope="col">Rate</th>
        <th scope="col">Partial</th>
        <th scope="col">Distance</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @shipments.each do |shipment| %>
      <tr>
        <td><%= shipment.broker_id %></td>
        <td><%= shipment.customer_id %></td>
        <td><%= shipment.trip_id %></td>
        <td><%= shipment.shipment_no %></td>
        <td><%= shipment.rate %></td>
        <td><%= shipment.partial %></td>
        <td><%= shipment.distance %></td>
        <td><%= link_to 'Show', shipment, :class => 'ym-button ym-small ym-play ym-success' %> <%= link_to 'Edit', edit_shipment_path(shipment), :class => 'ym-button ym-small ym-edit ym-warning' %> <%= link_to 'Destroy', shipment, method: :delete, data: { confirm: 'Are you sure you want to delete this shipment?' }, :class => 'ym-button ym-small ym-delete ym-danger' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p><%= link_to 'New Shipment', new_shipment_path, :class => 'ym-button ym-add' %></p>
</section>
