<!-- index page for shipments -->
<section>
  <h2>Shipments</h2>
  <p><%= link_to 'New Shipment', new_shipment_path, :class => 'button new' %><%= link_to 'Print', "reports/#{params[:controller]}" + "?column=#{@column}&direction=#{@direction}&search=#{@search}&sort=#{@sort}", :class => 'button' %></p>
	<!-- create form for search/ordering -->
  <%= form_tag shipments_path, :method => 'get', :class => 'search' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
		<%= label_tag :column %>
		<%= select_tag :column, options_for_select(Shipment.translated_searchable_columns(['id']), params[:column]) %>
		<%= label_tag :search %>
		<%= text_field_tag :search %>
		<%= submit_tag 'Submit' %>
  <% end %>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable 'shipment_no', 'Shipment No.', @shipments, 'id' %></th>
        <th scope="col"><%= sortable 'trip_id', 'Trip', @shipments, 'id' %></th>
        <th scope="col"><%= sortable 'shipper', nil, @shipments, 'id' %></th>
        <th scope="col"><%= sortable 'receiver', nil, @shipments, 'id' %></th>
        <th scope="col"><%= sortable 'receiver_address', nil, @shipments, 'id' %></th>
        <th scope="col"><%= sortable 'rate', nil, @shipments, 'id' %></th>
        <th scope="col"><%= sortable 'delivered', nil, @shipments, 'id' %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <!-- go through all shipment records and create rows with data -->
    <% @shipments.each do |shipment| %>
      <% trip = Trip.find(shipment.trip_id) %>
      <% shipper = Company.find(shipment.shipper) %>
      <% receiver = Company. find(shipment.receiver) %>
      <tr>
        <td><%= shipment.shipment_no %></td>
        <td><%= link_to trip.trip_no, "/trips/#{shipment.trip_id}" %></td>
        <td><%= link_to shipper.name, "/companies/#{shipment.shipper}" %></td>
        <td><%= link_to receiver.name, "/companies/#{shipment.receiver}" %></td>
        <td><%= shipment.receiver_address %></td>
        <td><%= number_to_currency shipment.rate %></td>
        <td><%= shipment.delivered %></td>
        <td><%= link_to '', shipment, :class => 'button show', :title => 'Show' %> <%= link_to '', edit_shipment_path(shipment), :class => 'button edit', :title => 'Edit' %> <%= link_to '', shipment, method: :delete, data: { confirm: 'Are you sure you want to delete shipment no. ' + shipment.shipment_no.to_s + '?' }, :class => 'button destroy', :title => 'Delete' %></td>
      </tr>
    <% end %>
    <!-- display no results if shipments contains no records -->
    <% if @shipments.empty? %>
      <tr>
        <td colspan="8">No results found.</td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @shipments %>
</section>
