<section>
  <h2>Shipment #<%= @shipment.id %></h2>
  <p id="notice" class="highlight"><%= notice %></p>
  <p><strong>Broker:</strong> <%= @shipment.broker_id %></p>
  <p><strong>Customer:</strong> <%= @shipment.customer_id %></p>
  <p><strong>Trip:</strong> <%= @shipment.trip_id %></p>
  <p><strong>Shipment no:</strong> <%= @shipment.shipment_no %></p>
  <p><strong>Rate:</strong> <%= @shipment.rate %></p>
  <p><strong>Partial:</strong> <%= @shipment.partial %></p>
  <p><strong>Distance:</strong> <%= @shipment.distance %></p>
  <p><%= link_to 'Edit', edit_shipment_path(@shipment), :class => 'ym-button ym-edit' %> <%= link_to 'Back', shipments_path, :class => 'ym-button ym-close' %></p>
</section>
