<section>
  <h2>Shipment #<%= @shipment.id %></h2>
  <p id="notice"><%= notice %></p>
  <p><strong>Broker:</strong> <%= @shipment.broker_id %></p>
  <p><strong>Driver:</strong> <%= @shipment.driver_id %></p>
  <p><strong>Customer:</strong> <%= @shipment.customer_id %></p>
  <p><strong>Trip:</strong> <%= @shipment.trip_id %></p>
  <p><strong>Shipment no:</strong> <%= @shipment.shipment_no %></p>
  <p><strong>Pickup time:</strong> <%= @shipment.pickup_time %></p>
  <p><strong>Delivery time:</strong> <%= @shipment.delivery_time %></p>
  <p><strong>Rate:</strong> <%= @shipment.rate %></p>
  <p><strong>Skid count:</strong> <%= @shipment.skid_count %></p>
  <p><strong>Partial:</strong> <%= @shipment.partial %></p>
  <p><strong>Distance:</strong> <%= @shipment.distance %></p>
  <p><strong>Cartage:</strong> <%= @shipment.cartage %></p>
  <p><%= link_to 'Edit', edit_shipment_path(@shipment) %> | <%= link_to 'Back', shipments_path %></p>
</section>
