<%= form_for(@skid) do |f| %>
  <% if @skid.errors.any? %>
    <div id="error_explanation">
      <section>
        <h2><%= pluralize(@skid.errors.count, "error") %> prohibited this skid from being saved:</h2>
        
        <ul>
        <% @skid.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </section>
    </div>
  <% end %>

  <%= f.label :shipment_id %>
  <%= f.number_field :shipment_id, :required => 'required', :pattern => ValidationValues.c_integer, :placeholder => ValidationValues.p_integer %>
  <%= f.label :product_desc %>
  <%= f.text_field :product_desc, :required => 'required', :pattern => ValidationValues.c_alpha_numeric, :placeholder => ValidationValues.p_product_desc %>
  <%= f.label :skid_count %>
  <%= f.number_field :skid_count, :required => 'required', :pattern => ValidationValues.c_integer, :placeholder => ValidationValues.p_integer %>
  <%= f.label :weight %>
  <%= f.text_field :weight, :required => 'required', :pattern => ValidationValues.c_double, :placeholder => ValidationValues.p_double %>
  <% ValidationValues.unit.each do |u| %>
  <%= f.label "unit_#{u}", u, :class => 'inline' %>
  <%= f.radio_button :unit, u %>
  <% end %>
  <br/>
  <%= f.label :oversized, :class => 'inline' %>
  <%= f.check_box :oversized %>
  <%= f.label :pickup_location %>
  <%= f.text_field :pickup_location, :required => 'required', :pattern => ValidationValues.c_street, :placeholder => ValidationValues.p_street %>
  <%= f.label :delivery_location %>
  <%= f.text_field :delivery_location, :required => 'required', :pattern => ValidationValues.c_street, :placeholder => ValidationValues.p_street %>
  <%= f.label :pickup_time %>
  <%= f.datetime_select :pickup_time %>
  <%= f.label :delivery_time %>
  <%= f.datetime_select :delivery_time %>
  <%= f.label :warehouse_delivery_time %>
  <%= f.datetime_select :warehouse_delivery_time %>
  <%= f.label :warehouse_pickup_time %>
  <%= f.datetime_select :warehouse_pickup_time %>
  <div class="footer">
    <%= f.submit %>
  </div>
<% end %>
