<h1>Skids</h1>

<table>
  <thead>
  <tr>
    <th>Shipment</th>
    <th>Company</th>
    <th>Product desc</th>
    <th>Weight</th>
    <th>Oversized</th>
    <th>Pickup location</th>
    <th>Delivery location</th>
    <th>Pickup time</th>
    <th>Delivery time</th>
    <th>Warehouse delivery time</th>
    <th>Warehouse pickup time</th>
    <th>Skid count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @skids.each do |skid| %>
  <tr>
    <td><%= skid.shipment_id %></td>
    <td><%= skid.company_id %></td>
    <td><%= skid.product_desc %></td>
    <td><%= skid.weight %></td>
    <td><%= skid.oversized %></td>
    <td><%= skid.pickup_location %></td>
    <td><%= skid.delivery_location %></td>
    <td><%= skid.pickup_time %></td>
    <td><%= skid.delivery_time %></td>
    <td><%= skid.warehouse_delivery_time %></td>
    <td><%= skid.warehouse_pickup_time %></td>
    <td><%= skid.skid_count %></td>
    <td><%= link_to 'Show', skid, :class => 'ym-button ym-small ym-play ym-success' %></td>
    <td><%= link_to 'Edit', edit_skid_path(skid), :class => 'ym-button ym-small ym-edit ym-warning' %></td>
    <td><%= link_to 'Destroy', skid, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'ym-button ym-small ym-delete ym-danger' %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Skid', new_skid_path, :class => 'ym-button ym-add' %>
