<section>
  <h2>Skids</h2>
	<%= form_tag skids_path, :method => 'get', :class => 'search' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
		<%= label_tag :column %>
		<%= select_tag :column, options_for_select(Skid.translated_searchable_columns(['id']), params[:column]) %>
		<%= label_tag :search %>
		<%= text_field_tag :search %>
		<%= submit_tag 'Submit' %>
  <% end %>
  <p><%= link_to 'New Skid', new_skid_path, :class => 'button new' %></p>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable "shipment_id", nil, @skids, "shipment_id" %></th>
        <th scope="col"><%= sortable "product_desc", nil, @skids, "shipment_id" %></th>
        <th scope="col"><%= sortable "skid_count", nil, @skids, "shipment_id" %></th>
        <th scope="col"><%= sortable "pickup_location", nil, @skids, "shipment_id" %></th>
        <th scope="col"><%= sortable "delivery_location", nil, @skids, "shipment_id" %></th>
        <th scope="col"><%= sortable "pickup_time", nil, @skids, "shipment_id" %></th>
        <th scope="col"><%= sortable "delivery_time", nil, @skids, "shipment_id" %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @skids.each do |skid| %>
      <tr>
        <td><%= link_to skid.shipment_id, "/shipments/#{skid.shipment_id}" %></td>
        <td><%= skid.product_desc %></td>
        <td><%= skid.skid_count %></td>
        <td><%= skid.pickup_location %></td>
        <td><%= skid.delivery_location %></td>
        <td><%= skid.pickup_time %></td>
        <td><%= skid.delivery_time %></td>
        <td><%= link_to '', skid, :class => 'button show', :title => 'Show' %> <%= link_to '', edit_skid_path(skid), :class => 'button edit', :title => 'Edit' %> <%= link_to '', skid, method: :delete, data: { confirm: 'Are you sure you want to delete this skid?' }, :class => 'button destroy', :title => 'Delete' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
