<!-- index page for skids -->
<section>
  <h2>Skids</h2>
  <p><%= link_to 'New Skid', new_skid_path, :class => 'button new' %><%= link_to 'Print', "reports/#{params[:controller]}" + "?column=#{@column}&direction=#{@direction}&search=#{@search}&sort=#{@sort}", :class => 'button print' %></p>
  <!-- create form for search/ordering -->
  <%= form_tag skids_path, :method => 'get', :class => 'search' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
		<%= label_tag :column %>
		<%= select_tag :column, options_for_select(Skid.translated_searchable_columns([]), params[:column]) %>
		<%= label_tag :search %>
		<%= text_field_tag :search %>
		<%= submit_tag 'Submit' %>
  <% end %>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= sortable 'id', 'Skid Id', @skids, 'id' %></th>
        <th scope="col"><%= sortable 'shipment_id', nil, @skids, 'id' %></th>
        <th scope="col"><%= sortable 'product_desc', nil, @skids, 'id' %></th>
        <th scope="col"><%= sortable 'pickup_location', nil, @skids, 'id' %></th>
        <th scope="col"><%= sortable 'delivery_location', nil, @skids, 'id' %></th>
        <th scope="col"><%= sortable 'pickup_time', nil, @skids, 'id' %></th>
        <th scope="col"><%= sortable 'delivery_time', nil, @skids, 'id' %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <!-- go through all skid records and create rows with data -->
    <% @skids.each do |skid| %>
      <% shipment = Shipment.find(skid.shipment_id) %>
      <tr>
        <td><%= skid.id %></td>
        <td><%= link_to shipment.shipment_no, "/shipments/#{skid.shipment_id}" %></td>
        <td><%= skid.product_desc %></td>
        <td><%= skid.pickup_location %></td>
        <td><%= skid.delivery_location %></td>
        <td><%= format_time skid.pickup_time %></td>
        <td><%= format_time skid.delivery_time %></td>
        <td><%= link_to '', skid, :class => 'button show', :title => 'Show' %> <%= link_to '', edit_skid_path(skid), :class => 'button edit', :title => 'Edit' %> <%= link_to '', skid, method: :delete, data: { confirm: 'Are you sure you want to delete skid: ' + skid.product_desc + '?' }, :class => 'button destroy', :title => 'Delete' %></td>
      </tr>
    <% end %>
    <!-- display no results if skid contains no records -->
    <% if @skids.empty? %>
      <tr>
        <td colspan="8">No results found.</td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @skids %>
</section>
