<section>
  <h2>Skid #<%= @skid.id %></h2>
  <p id="notice"><%= notice %></p>
  <dl>
    <dt><strong>Shipment:</strong></dt><dd><%= link_to @shipment.shipment_no, "/shipments/#{@skid.shipment_id}" %></dd>
    <dt><strong>Product description:</strong></dt><dd><%= @skid.product_desc %></dd>
    <dt><strong>Weight:</strong></dt><dd><%= @skid.weight %> <%= @skid.unit %></dd>
    <dt><strong>Oversized:</strong></dt><dd><%= @skid.oversized %></dd>
    <dt><strong>Pickup location:</strong></dt><dd><%= @skid.pickup_location %></dd>
    <dt><strong>Delivery location:</strong></dt><dd><%= @skid.delivery_location %></dd>
    <dt><strong>Pickup time:</strong></dt><dd><%= format_time @skid.pickup_time %></dd>
    <dt><strong>Delivery time:</strong></dt><dd><%= format_time @skid.delivery_time %></dd>
  </dl>
  <p><%= link_to 'Edit', edit_skid_path(@skid), :class => 'button edit' %> <%= link_to 'Back', skids_path, :class => 'button back' %></p>
</section>
