<section>
  <h2>Skid #<%= @skid.id %></h2>
  <p id="notice" class="highlight"><%= notice %></p>
  <p><strong>Shipment:</strong> <%= @skid.shipment_id %></p>
  <p><strong>Company:</strong> <%= @skid.company_id %></p>
  <p><strong>Product description:</strong> <%= @skid.product_desc %></p>
  <p><strong>Weight:</strong> <%= @skid.weight %></p>
  <p><strong>Oversized:</strong> <%= @skid.oversized %></p>
  <p><strong>Pickup location:</strong> <%= @skid.pickup_location %></p>
  <p><strong>Delivery location:</strong> <%= @skid.delivery_location %></p>
  <p><strong>Pickup time:</strong> <%= @skid.pickup_time %></p>
  <p><strong>Delivery time:</strong> <%= @skid.delivery_time %></p>
  <p><strong>Warehouse delivery time:</strong> <%= @skid.warehouse_delivery_time %></p>
  <p><strong>Warehouse pickup time:</strong> <%= @skid.warehouse_pickup_time %></p>
  <p><strong>Skid count:</strong> <%= @skid.skid_count %></p>
  <p><%= link_to 'Edit', edit_skid_path(@skid), :class => 'ym-button ym-edit' %> | <%= link_to 'Back', skids_path, :class => 'ym-button ym-close' %></p>
</section>
