<section>
  <h2>Skid #<%= @skid.id %></h2>
  <p id="notice"><%= notice %></p>
  <p><strong>Shipment:</strong> <%= link_to @skid.shipment_id, "/shipments/#{@skid.shipment_id}" %></p>
  <p><strong>Product description:</strong> <%= @skid.product_desc %></p>
  <p><strong>Weight:</strong> <%= @skid.weight %> <%= @skid.unit %></p>
  <p><strong>Oversized:</strong> <%= @skid.oversized %></p>
  <p><strong>Pickup location:</strong> <%= @skid.pickup_location %></p>
  <p><strong>Delivery location:</strong> <%= @skid.delivery_location %></p>
  <p><strong>Pickup time:</strong> <%= @skid.pickup_time %></p>
  <p><strong>Delivery time:</strong> <%= @skid.delivery_time %></p>
  <p><strong>Warehouse delivery time:</strong> <%= @skid.warehouse_delivery_time %></p>
  <p><strong>Warehouse pickup time:</strong> <%= @skid.warehouse_pickup_time %></p>
  <p><%= link_to 'Edit', edit_skid_path(@skid), :class => 'button edit' %> <%= link_to 'Back', skids_path, :class => 'button back' %></p>
</section>
