<section>
  <h2>Announcements</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Posted By</th>
        <th scope="col">Title</th>
        <th scope="col">Date Posted</th>
				<th scope="col">Content</th>
      </tr>
    </thead>
    <tbody>
    <% @announcements.each do |announcement| %>
      <% user = User.find(announcement.posted_by) %>
      <tr>
        <td><%= user.name %></td>
        <td><%= announcement.title %></td>
        <td><%= format_time announcement.date_posted %></td>
				<td><%= announcement.content.truncate(40) %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p>Printed on: <%= format_time Time.now %></p>
</section>
