<!-- companies report page -->
<section>
  <h2>Companies</h2>
  <p><%= link_to 'Print', '/', :class => 'button print' %>
  <table>
    <thead>
      <tr>
        <th scope="col">Company Type</th>
        <th scope="col">Name</th>
        <th scope="col">Street</th>
        <th scope="col">City</th>
        <th scope="col">Email</th>
        <th scope="col">Primary Phone</th>
        <th scope="col">Contact Name</th>
      </tr>
    </thead>
    <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.company_type %></td>
        <td><%= company.name %></td>
        <td><%= company.street %></td>
        <td><%= company.city %></td>
        <td><%= company.email %></td>
        <td><%= company.primary_phone %></td>
        <td><%= company.contact_name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p>Printed on: <%= format_time Time.now %></p>
</section>
