<section>
  <h2>Expenses</h2>
  <table>
    <thead>
      <tr>
				<th scope="col">Expense ID</th>
        <th scope="col">Quick Pay</th>
        <th scope="col">Fuel</th>
        <th scope="col">Driver Pay</th>
        <th scope="col">Misc Cost</th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |expense| %>
      <tr>
				<td><%= expense.id %></td>
        <td><%= expense.quick_pay %></td>
        <td><%= expense.fuel %></td>
        <td><%= expense.driver_pay %></td>
        <td><%= expense.misc_cost %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
