<!-- skids report page -->
<section>
  <h2>Skids</h2>
  <p><%= link_to 'Print', '/', :class => 'button print' %>
  <table>
    <thead>
      <tr>
        <th scope="col">Skid Id</th>
        <th scope="col">Shipment Id</th>
        <th scope="col">Product Desc</th>
        <th scope="col">Pickup Location</th>
        <th scope="col">Delivery Location</th>
        <th scope="col">Pickup Time</th>
        <th scope="col">Delivery Time</th>
      </tr>
    </thead>
    <tbody>
    <% @skids.each do |skid| %>
      <% shipment = Shipment.find(skid.shipment_id) %>
      <tr>
        <td><%= skid.id %></td>
        <td><%= shipment.shipment_no %></td>
        <td><%= skid.product_desc %></td>
        <td><%= skid.pickup_location %></td>
        <td><%= skid.delivery_location %></td>
        <td><%= format_time skid.pickup_time %></td>
        <td><%= format_time skid.delivery_time %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <p>Printed on: <%= format_time Time.now %></p>
</section>
