<nav>
  <ul>
    <li><%= link_to 'Home', '/' %></li> 
    <li><%= link_to 'About us', '/index/about' %></li> 
    <li><%= link_to 'Quotes', '/quotes' %></li>
    <li><%= link_to 'Jobs', '/job_postings' %></li> 
    <li><%= link_to 'Contact us', '/index/contact' %></li>
    <% unless user_signed_in? %>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
    <% end %>
    <% if user_signed_in? && current_user.access == 'admin' %>
      <li><%= link_to 'Users', '/users' %>
    <% end %>
  </ul>
</nav>
