<ul class="small-links">
  <li><%= link_to 'Announcements', announcements_path %></li>
  <li><%= link_to 'Cartage', cartages_path %></li>
  <li><%= link_to 'Drivers', drivers_path %></li>
  <li><%= link_to 'Job Postings', job_postings_path %></li>
  <li><%= link_to 'Maintenance', maintenances_path %></li>
  <li><%= link_to 'Shipments', shipments_path %></li>
  <li><%= link_to 'Skids', skids_path %></li>
  <li><%= link_to 'Trailers', trailers_path %></li>
  <li><%= link_to 'Trips', trips_path %></li>
  <li><%= link_to 'Trucks', trucks_path %></li>
  <% if current_user.access == 'admin' %>
    <li><%= link_to 'Users', '/users' %></li>
  <% end %>
</ul>
