<ul>
  <li><%= link_to 'Home', '/'%></li>
  <li><%= link_to 'About Us', '/index/about' %></li>
  <li><%= link_to 'Quotes', '/quotes/new' %></li>
  <li><%= link_to 'Jobs', '/job_postings' %></li>
  <li><%= link_to 'Contact Us', '/index/contact' %></li>
</ul>
