    <nav>
      <ul>
        <li><%= link_to 'Home', '/' %></li>
        <li><%= link_to 'About Us', about_path %></li>
        <li><%= link_to 'Quotes', '/quotes' %></li>
        <li><%= link_to 'Jobs', '/job_postings' %></li>
        <li><%= link_to 'Contact Us', contact_path %></li>
      </ul>
    </nav>
