<!DOCTYPE html>
<html>
<head>
  <title>Go Fast Express</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "//fonts.googleapis.com/css?family=Droid+Sans:400,700" %>
  <%= stylesheet_link_tag    "//fonts.googleapis.com/css?family=Jockey+One" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <header>
      <h1>
        <%= link_to '/' do %>
          <%= image_tag 'logo.png', :size => "250x82", :alt => 'GoFast Express Inc.' %>
        <% end %>
      </h1>
      <h2><em>Your #1 Source for Transportation Services</em></h2>
    </header>
  </div>
  <div>
    <nav>
      <%= render '/layouts/out_nav' %>
    </nav>
  </div>
  <div>
    <div id="content">
      <%= yield %>
    </div>
  </div>
  <div>
    <footer>
      <%= render '/layouts/out_footer' %>
      <p>&copy; 2013 GoFast Express Inc. All Rights Reserved.</p>
    </footer>
  </div>
</body>
</html>
