<!DOCTYPE html>
<html>
<head>
  <title>Go Fast Express</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
      <hgroup class="ym-wrapper">
          <%= link_to '/' do %>
            <%= image_tag 'logo.png', :size => "250x82", :alt => 'GoFast Express Inc.' %>
          <% end %>
        <em>Your #1 Source for Transportation Services</em>
      </hgroup>
        <nav>
          <div class="ym-wrapper">
            <div class="ym-hlist">
            <%= render '/layouts/out_nav' %>
            </div>
          </div>
        </nav>
    </header>
  <div>
    <div id="content" class="ym-wrapper">
      <div class="ym-wbox">
      <%= yield %>
      </div>
    </div>
  </div>
  <div>
    <footer>
      <div class="ym-wrapper">
        <div class="ym-wbox">
          <%= render '/layouts/out_footer' %>
          <p>&copy; 2013 GoFast Express Inc. All Rights Reserved.</p>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
